.stack {
  text-align: center;
  width: 100%;
}

.stackList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.stackItam {
  width: 16%;
  margin: 30px 0;
}

.stackItam>img {
  width: 50%;
}


@media(max-width:767px) {
  .stackItam {
    width: 25%;
  }

  .stackItam>img {
    width: 40%;
  }

}

@media(max-width:480px) {
  .stackItam {
    width: 33%;
  }

  .stackItam>img {
    width: 45%;
  }

}