.text {
  display: inline-block;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.accent {
  background-clip: text;
  background-image: var(--accent-color);
  color: transparent;
}

.h1 {
  font: var(--font-xxxxl);
}

.h2 {
  font: var(--font-xxxl);
}

.h3 {
  font: var(--font-xxl);
}

.h4 {
  font: var(--font-xl)
}

@media (max-width:991px) {
  .h1 {
    font: var(--font-xxxl);

  }
}

@media (max-width:767px) {
  .h1 {
    font: var(--font-xxxxl);
  }
}