.footer {
  height: var(--footer-height);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.topFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  min-width: 420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: var(--font-size-l);
}

.name {
  color: transparent;
  background-clip: text;
  background-image: var(--accent-color);
  font-size: var(--font-size-xl);
}

@media(max-width:767px) {
  .nav {
    display: none;
  }

  .topFooter {
    justify-content: center;
  }

  .bottomFooter {
    justify-content: center;
  }

  .logo {
    display: none;
  }
}

@media(max-width:480px) {
  .footer {
    height: calc(var(--footer-height) + 155px);
  }

  .info {
    padding: 20px;
    flex-direction: column
  }

  .info>div {
    margin-bottom: 20px;
  }
}