.socials {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  fill: #FFFFFF;
}

.link:hover {
  fill: #A7A7A7
}

@media (max-width:480px) {

  .socials {
    width: 110px;
  }
}