.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.photoWrapper {
  position: relative;
  height: 300px;
  z-index: 1;
}

.photoWrapper:before {
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  background: var(--accent-color-photo);
}

.photo {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin: 10px
}

@media (max-width:991px) {
  .photoWrapper {
    width: 240px;
    height: 240px;
  }

  .photoWrapper:before {
    width: 240px;
    height: 240px;
  }

  .photo {
    width: 220px;
    height: 220px;
  }

  /* .banner {
    flex-direction: column;
  } */

  /* .title {
    font-size: var(--font-line-xxxl);
  } */
}

@media (max-width:767px) {
  .photoWrapper {
    width: 300px;
    height: 300px;
  }

  .photoWrapper:before {
    width: 300px;
    height: 300px;
  }

  .photo {
    width: 280px;
    height: 280px;
  }

  .banner {
    flex-direction: column;
  }

  .title {
    text-align: center;
    margin-bottom: var(--indent-xxxl);
  }
}

@media(max-width:480px) {
  .photoWrapper {
    width: 280px;
    height: 280px;
  }

  .photoWrapper:before {
    width: 280px;
    height: 280px;
  }

  .photo {
    width: 260px;
    height: 260px;
  }

}