.banner {
  min-height: 450px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.photoWrapper {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 50%;
}

.photoWrapper:before {
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  background: var(--accent-color-photo);
}

.photo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 280px;
  height: 280px;
  border-radius: 50%;
}

@media(min-width:767px) {
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    width: 50%;
  }

  .photoWrapper {
    width: 50%;
  }
}