.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.photoWrapper {
  position: relative;
  height: 300px;
  z-index: 1;
}

.photoWrapper:before {
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  background: var(--accent-color-photo);
}

.photo {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin: 10px
}