.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  min-height: 100vh;
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--secondary-color);
  padding: 0 var(--indent-m);
}

@media(min-width: 480px) {
  .app {
    padding: 0 var(--indent-xl);
  }
}

@media(min-width: 767px) {
  .app {
    padding: 0 var(--indent-xxxl);
  }
}