.form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contacts {
  width: 100%;
}

.contacts>input {
  width: 100%;
}

input[type="text"],
textarea {
  padding: var(--indent-m) var(--indent-s);
  margin-bottom: var(--indent-xxl);
  border-radius: var(--indent-s);
}

textarea {
  resize: none;
  height: 200px;
}

input[type="button"] {
  padding: var(--indent-m) var(--indent-s);


  /* color: var(--primary-color);
  border-width: 4px;
  border-style: solid;
  border-image: var(--accent-color); */

  cursor: pointer;
}

@media(min-width:767px) {
  .form {
    width: 700px;

  }

  .contacts>input {
    width: 50%;
  }
}